/*
  https://coolors.co/palette/f0ead2-dde5b6-adc178-a98467-6c584c
  #f0ead2 beige
  #dde5b6 light green
  #adc178 green
  #a98467 light brown
  #6c584c brown
*/

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
  background-color: #1a1a1d;
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #707070;
}

#title1 { color: #c3073f; }
#title2 { color: #950740; }
#title3 { color: #6F2232; }

.c1 {
  color: #c3073f;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
}

header div {
  color: #303030;
  text-decoration: none;
  font-family: 'Gochi Hand', cursive;
  font-size: min(12vw, 8em);
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 40px;
}

nav li {
  font-size: 2vw;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #bbbbbb;
}

.separator {
  display: inline;
}

@media only screen and (max-width: 600px) {
.separator {
  display: none;
}
nav li {
  display: block;
  font-size: 5vw;
  padding-top: 5px;
  padding-bottom: 5px;
}
}

nav a {
  text-decoration: none;
  color: inherit;
}

section {
  text-align: left;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
section {
  width: 80%;
}

}

img.pixelart {
  width: 100px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
